<footer>
    <div class="item">
        <i class="fas fa-credit-card"></i>
        <p class="titulosfooter">Pagá con tarjeta o en efectivo</p>
        <p class="textofooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="item">
        <i class="fas fa-gift"></i>
        <p class="titulosfooter">Envío gratis desde $ 2.500</p>
        <p class="textofooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="item">
        <i class="fas fa-user-shield"></i>
        <p class="titulosfooter">Seguridad, de principio a fin</p>
        <p class="textofooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>        
    <p id="copy">Copyright © 2021 MercadoLiebre S.R.L.</p>

</footer>