<header>
    <div class="encabezado">
        <div class="logo">
            <img src = "/images/logo-mercado-liebre.svg" alt = "Logo MercadoLiebre" width="100%">
        </div>
        
        <div class="buscador">
            <form action="" method="post">
                <input type="text" placeholder="Buscar productos, marcas" class = "boxbuscador">
                <button type="button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        
        <p id="lema"><i class="fas fa-hand-holding-usd"></i>Sistema de adminstracion de productos</p>
    </div>
    <div class="menues">
        <nav class="site_navbar">
            <ul type = "none">
                <li><a href = "" target = "_blank">Productos</a></li>
                <li><a href = "" target = "_blank">Nuevo</a></li>
                <li><a href = "" target = "_blank">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="login_navbar">
            <ul type = "none">
                <li><a href = "/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href = "/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>                
            </ul>
        </nav>
    </div>
    <br>
    <div class = "burger-menu">
        <i class = "fa fa-bars burger"></i>
    </div>
    <br>

</header>